In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

In [ ]:
df'['kelompok_usia']=pd.cut(df['usia'],
                            bins=[0, 18, 65, 99],
                            labels= ['anak', 'dewasa', 'manula'])
df

In [ ]:
n_rows=10
n_cols=1
cols=('usia')

df= pd.DataFrame(np.random.randint(1, 99, size=(n_rows, n_cols)),
                columns=cols)
df

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

In [ ]:
n_rows= 5
n_cols= 5
cols=tuple ('ABCDE')

df= pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                columns=cols)
df.head()

In [ ]:
df1=df.copy(deep=True)
df1=df1.drop([1, 4])
df1

In [ ]:
df2=df.copy(deep=True)
df2=df2.drop([0, 3])
df2

In [ ]:
df_inner=pd.merge(df1, df2, how="inner")
df_inner

In [ ]:
df_outer=pd.merge(df1, df2, how="outer")
df_outer

In [ ]:
import pandas as pd

print(pd.__version__)

In [ ]:
data={'nama':['Didi Kempot', 'Glenn Fredly', 'Mbah Surip'],
     'tempat_kelahiran':['Surakarta', 'Jawa Tengah', 'Jakarta', 'DKI Jakarta', 'Mojokerto', 'Jawa Timur']}
df=pd.DataFrame(data)
df

In [ ]:
df[['nama_depan', 'nama_belakang']]= df ['nama'].str.split('', expand=True)
df

In [ ]:
df[['kota', 'propinsi']]= df ['tempat_kelahiran'].str.split('', expand=True)
df

In [ ]:
import pandas as pd

print(pd.__version__)

In [ ]:
df= pd.read_csv('./data/titanicfull.csv')
df.head()

In [ ]:
df.grupbhy(['sex', 'pclass'])['survived'].mean().to_frame()

In [ ]:
df= pd.read_csv('./data/titancfull.csv')
df.head()

In [ ]:
df.grupbhy(['sex', 'pclass'])['survived'].mean().unstack()